.body_style {
    background: #2a306a;
}

.main_block {
    width: 600px;
    height: 400px;
    border: solid 1px #191c3b;
    border-radius: 10px;
    background: #1e2249;
    float: left;
}

.login_main_block {
    text-align: center;
    width: 150px;
    margin: 0 auto 0 auto;
    padding: 5px 10px 0 10px;
    height: 40px;
    background: white;
    color: #1e2249;
    border-radius: 0 0 10px 10px;
    font-size: 20pt;
}

.head_style {
    width: 600px;
    height: 70px;
    background: #1e2249;
    margin: 0 0 20px 0;
    float: left;
    border: solid 1px #191c3b;
    border-radius: 0 0 10px 10px;
}

.main_wrapper {
    width: 605px;
    margin: -10px auto 0 auto;
}

.login_text {
    margin: 0 10px 0 0;
    float: left;
}

.exit_icon {
    float: right;
}